@page "/"
@using ChartJs.Blazor;

@if (_config != null)
{
    if (timeLimitExceeded)
    { 
        <MudAlert class="mt-3"  Severity="Severity.Error" ShowCloseIcon="true" Variant="Variant.Outlined" CloseIconClicked="(() => CloseMe(true))">Please, try again after 30 seconds... </MudAlert>
    }
    <div class="d-flex flex-wrap gap-4 mt-3">
        <MudSelect Margin="Margin.Dense" T="string" @bind-Value="_formDataHolder.SelectedCurrency" Label="Currency" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
            @foreach (string currency in Currencies)
            {
                <MudSelectItem Value="@currency">@currency.ToUpper()</MudSelectItem>
            }
        </MudSelect>

        <MudSelect Margin="Margin.Dense" T="string" @bind-Value="_formDataHolder.SelectedCoin" Label="Coin" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
            @foreach (string coin in Coins)
            {
                <MudSelectItem Value="@coin">@coin.ToUpper()</MudSelectItem>
            }
        </MudSelect>
        <MudTextField @bind-Value="_formDataHolder.SelectedDays" Label="Day Span" Variant="Variant.Outlined" InputType="InputType.Number" Margin="Margin.Dense"></MudTextField>
        <MudButton Variant="Variant.Outlined" OnClick="LoadDataAsync" Color="Color.Primary">Update</MudButton>
    </div>
    <Chart Config="_config"></Chart>
    <MudButtonGroup class="mt-3" Color="Color.Primary" Variant="Variant.Filled" OverrideStyles="false">
        <MudButton @ref="_dayButton" OnClick="(e)=>HandleClick(e, _dayButton, 1)">1D</MudButton>
        <MudButton @ref="_weekButton" OnClick="(e)=>HandleClick(e, _weekButton, 7)">1W</MudButton>
        <MudButton @ref="_monthButton" OnClick="(e)=>HandleClick(e, _monthButton, 30)">1M</MudButton>
        <MudButton @ref="_yearButton" OnClick="(e)=>HandleClick(e, _yearButton, 365)">1Y</MudButton>
    </MudButtonGroup> 
}